CMakeFiles
CMakeCache.txt
cmake_install.cmake
*.o
../extract_cell
../segment
extract_cell
.DS_Store
end_to_end/.DS_Store
segmentation/segment
train/emnist.pyc
train/.ipynb_checkpoints/
train/*.pyc
experiment/
**/__pycache__/
**/db.sqlite3

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
