container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python web/turk/manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python web/turk/manage.py collectstatic --noinput"
  03_createadmin:
    command: "source /opt/python/run/venv/bin/activate && python web/turk/manage.py createsu"
  04_install_tensorflow:
    command: "mkdir ~/tensorflow && virtualenv --system-site-packages -p python3 ~/tensorflow && source ~/tensorflow/bin/activate && pip3 install --upgrade tensorflow"
  05_install_PIL:
    command: "source ~/tensorflow/bin/activate && pip install Pillow"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "turk.settings_prod"
    "PYTHONPATH": "/opt/python/current/app/web/turk/turk:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: web/turk/turk/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "web/www/static/"
