container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python web/turk/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python web/turk/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python web/turk/manage.py collectstatic --noinput"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "turk.settings"
    "PYTHONPATH": "/opt/python/current/app/web/turk/turk:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: web/turk/turk/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
