{% extends "base_generic.html" %}
{% block content %}
{% load list_filter %}
{% load static %}
<div class="jumbotron">
    <div class="container">
    <h1 class="display-5">Verify</h1>
    {% with user_name=username  %}
        <a href={{ item.file_id | file_id_to_filename:user_name | filename_to_url }}>Image link</a>    
    {% endwith %}
    <form action="{% url 'save_expected' id=item.id%}" method="POST" id="post-form" >
        {% csrf_token %}
        <div class="row">
            <div class="order"></div>
            <div class="num">Num</div>
            <div class="big">Big</div>
            <div class="small">Small</div>
            <div class="roll">R</div>
            <div class="x">X</div>
            <div class="order"></div>
            <div class="num">Num</div>
            <div class="big">Big</div>
            <div class="small">Small</div>
            <div class="roll">R</div>
            <div class="x">X</div>
        </div>
        {% for i in n %}
        <div class="row" id="row{{i}}">
            <div class="order" name="order" id='order{{i | add:31}}'>{{i | add:"1"}}</div>
            <div 
                 id='num{{i | add:"1"}}'
                 class="num" contenteditable="true" 
                 expected='{{expected_results | list_index:i | list_index:0 }}'
                 predicted='{{result | list_index:i | list_index:0 }}'
                 title='{{result | list_index:i | list_index:0 }}'>
            </div>
            <div 
                id='big{{i | add:"1"}}'
                class="big" name="big" 
                contenteditable="true" 
                expected='{{expected_results | list_index:i | list_index:1 }}'
                predicted='{{result | list_index:i | list_index:1 }}'
                title='{{result | list_index:i | list_index:1 }}'>
            </div>
            <div 
                id='small{{i | add:"1"}}'
                class="small" name="small" 
                contenteditable="true" 
                expected='{{expected_results | list_index:i | list_index:2 }}'
                predicted='{{result | list_index:i | list_index:2 }}'
                title='{{result | list_index:i | list_index:2 }}'>
            </div>
            <div 
                id='roll{{i | add:"1"}}'
                class="roll" name="roll" 
                contenteditable="true" 
                expected='{{expected_results | list_index:i | list_index:3 }}'
                predicted='{{result | list_index:i | list_index:3 }}'
                title='{{result | list_index:i | list_index:3 }}'>
            </div>
            <div 
                id='x{{i | add:"1"}}'
                class="x" name="x" 
                contenteditable="true" 
                expected='{{expected_results | list_index:i | list_index:4 }}'
                predicted='{{result | list_index:i | list_index:4 }}'
                title='{{result | list_index:i | list_index:4 }}'>
            </div>
            <div class="order" name="order" id='order{{i | add:31}}'>{{ i |add:31 }}</div>
            <div 
                 id='num{{i | add:31}}'
                 class="num" contenteditable="true" 
                 expected='{{expected_results | list_index1:i | list_index:0 }}'
                 predicted='{{result | list_index1:i | list_index:0 }}'
                 title='{{result | list_index1:i | list_index:0 }}'>
            </div>
            <div 
                id='big{{i | add:31}}'
                class="big" name="big" 
                contenteditable="true" 
                expected='{{expected_results | list_index1:i | list_index:1 }}'
                predicted='{{result | list_index1:i | list_index:1 }}'
                title='{{result | list_index1:i | list_index:1 }}'>
            </div>
            <div 
                id='small{{i | add:31}}'
                class="small" name="small" 
                contenteditable="true" 
                expected='{{expected_results | list_index1:i | list_index:2 }}'
                predicted='{{result | list_index1:i | list_index:2 }}'
                title='{{result | list_index1:i | list_index:2 }}'>
            </div>
            <div 
                id='roll{{i | add:31}}'
                class="roll" name="roll" 
                contenteditable="true" 
                expected='{{expected_results | list_index1:i | list_index:3 }}'
                predicted='{{result | list_index1:i | list_index:3 }}'
                title='{{result | list_index1:i | list_index:3 }}'>
            </div>
            <div 
                id='x{{i | add:31}}'
                class="x" name="x" 
                contenteditable="true" 
                expected='{{expected_results | list_index1:i | list_index:4 }}'
                predicted='{{result | list_index1:i | list_index:4 }}'
                title='{{result | list_index1:i | list_index:4 }}'>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <button class="btn btn-primary btn-lg verify-btn" type="submit">Save</button>
        </div>
    </form>
    </div>
</div>
<script src="{% static 'js/verify.js' %}"></script>
{% endblock %}