:root {
  --cell-width: 30px;
  --cell-height: 30px;

  --cell-width-3x: 90px;
  --cell-width-4x: 120px;
}

body {
  padding-top: 0.3rem;
}

.row {
  width: 780px;
}
.auth {
  margin: 32px;
}

.order{
  border-style: solid;
  border-width: 1px;
  width: var(--cell-width);
  height: var(--cell-height); 
  border-right-style: none;
  text-align: center;
}

.num {
  border-style: solid;
  border-width: 1px;
  width: var(--cell-width-4x);
  height: var(--cell-height); 
  border-right-style: none;
  text-align: center;
}

.big {
  border-style: solid;
  border-width: 1px;
  width: var(--cell-width-3x);
  height: var(--cell-height); 
  border-right-style: none;
  text-align: center;
}

.small {
  border-style: solid;
  border-width: 1px;
  width: var(--cell-width-3x);
  height: var(--cell-height); 
  border-right-style: none;
  text-align: center;
}

.roll {
  border-style: solid;
  border-width: 1px;
  width: var(--cell-width);
  height: var(--cell-height); 
  border-right-style: none;
  text-align: center;
}

.x {
  border-style: solid;
  border-width: 1px;
  width: var(--cell-width);
  height: var(--cell-height); 
  text-align: center;
}

.verify-btn {
  margin-top: 16px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

#loading {
  position:fixed;
  height: 100%;
  width: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.3); 
}

#loading img {
  position: fixed;
  top:50%;
  left: 50%;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}